.main {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 100%;
}

.img {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}