@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --col-main: #00695c;
    --col-pri: #f5f5f5;
    /* --col-sec: #e0f2f1; */
    --col-sec: #F3FFFE;
    --col-main-outline: #b2dfdb;
    --col-alrt: #d32f2f;
    --col-alrt-outline: #ffcdd2;
    --col-white: #fff;
    --transition: all 0.2s ease-in-out;
  }
}
@layer utilities {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    background: var(--col-pri);
  }
  main {
    min-height: calc(100vh - 5rem);
    min-width: 100vw;
  }
}
