.input_box {
  width: 100%;
  margin: 0 auto;
  border: 2px solid var(--col-main-outline);
  display: flex;
  justify-content: center;
  background: var(--col-sec);
  color: var(--col-main);
  border-radius: 0.5rem;
  overflow: hidden;
}
.invalid {
  border: 2px solid var(--col-alrt);
  background: var(--col-alrt-outline);
  color: var(--col-alrt);
}
.input_box input {
  display: block;
  width: 100%;
  border: none !important;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  color: var(--col-main);
  caret-color: var(--col-main);
  padding: 0.5rem;
}
.input_box input:invalid .input_box {
  /* border: 2px solid var(--col-alrt) !important; */
  /* background: var(--col-alrt-outline); */
  /* color: var(--col-alrt); */
}

.input_box ::selection {
  background: var(--col-main-outline);
}
.input_box button {
  width: 2.5rem;
  padding: 0.5rem;
  background: var(--col-sec);
  border: none;
  outline: none;
}
.input_box button img {
  width: 100%;
  height: 100%;
}
