.input_container{
    @apply my-4;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.input_container label{
    padding-left: 0.25rem;
    color: var(--col-main);
}