.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unlockfield {
  /* max-width: 400px; */
  display: flex;
  padding: 1.25rem 0.75rem;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  border-radius: 0.625rem;
  border: 4px solid var(--col-outline, #b2dfdb);
}
.unlockfield-icon {
  width: 100%;
  display: block;
  padding: 0;
}
.unlockfield-icon-img {
  margin: 0 auto;
  width: 100px;
}

.unlockfield-title {
  color: var(--col-main);
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0;
}
